MONGO_URL=<mongodb_connection_string>
PORT=<port_number>
JWT_SECRET=<strong_JWT_secret>
SALT=<bcrypt_salt>
SERVER_URL=<server_url>
CLIENT_URL=<client_url>
EMAIL_PASSWORD=<email_app_password>
EMAIL=<app_email>